header {
  background-color: #000000;

  .logo {
    height: 90px;
    width: 90px;
  }

  .logo:hover {
    transform: scale(1.05, 1.05);
  }

  .logoStyle {
    margin-right: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .alignText {
    padding-top: 8px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  }

  .alignObjects {
    display: flex;
    align-items: center;
  }

  .styleLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
  }

  .styleFont {
    color: #ffff;
    font-weight: bold;
    margin: 10px;
  }

  .styleFont:hover {
    transition: all 0.1s;
    border-bottom: solid rgb(24, 155, 89) 3px;
  }

  #menuBurguer {
    color: #ffff;
  }

  h4 {
    font-family: "Courgette", cursive;
    color: #ffffff;
    text-shadow: -1px -1px 0 rgb(9, 51, 30), 1px -1px 0 rgb(9, 51, 30),
      -1px 1px 0 rgb(9, 51, 30), 1px 1px 0 rgb(9, 51, 30);
  }

  h6 {
    color: #ffff;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgb(9, 51, 30), 1px -1px 0 rgb(9, 51, 30),
      -1px 1px 0 rgb(9, 51, 30), 1px 1px 0 rgb(9, 51, 30);
  }

  @media screen and (max-width: 470px) {
    .logo {
      width: 70px;
      height: 70px;
    }
    h4 {
      font-size: 70%;
    }
    h6 {
      font-size: 50%;
    }
  }

  /*Mediaquery para que el menu se despliegue a la derecha*/
  @media screen and (max-width: 991px) {
    .styleLinks {
      display: flex;
      justify-content: end;
      font-size: 100%;
    }
  }
}
