@import "header";
@import "body";
@import "footer";

/*--------------------------------VARIABLES---------------------------------*/
$white: #ffff;
/*--------------------------------------------------------------------------*/

.principalImage {
  background-image: url(../img/imagenPrincipal.jpg);
  height: 54rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .formPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .overviewStyle {
      border-radius: 5px;
      background-color: rgb(0, 0, 0);
      font-family: "Roboto", sans-serif;
      font-size: 1.1rem;
      font-weight: bold;
      color: rgb(255, 255, 255);
      width: 30rem;
      padding: 2rem;
      .paddingStyle {
        padding-bottom: 20px;
      }
    }
    .buttonStyle {
      font-weight: bold;
    }
  }
  .textCage {
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: 10vh;
    font-family: "Courgette", cursive;
    text-shadow: -2px -2px 0 rgb(9, 51, 30), 2px -2px 0 rgb(9, 51, 30),
      -2px 2px 0 rgb(9, 51, 30), 2px 2px 0 rgb(9, 51, 30);
  }

  @media screen and (max-width: 1300px) {
    .textCage {
      font-size: 9vh;
    }
  }

  @media screen and (max-width: 770px) {
    .textCage {
      font-size: 6vh;
    }
  }
  @media screen and (max-width: 510px) {
    .textCage {
      font-size: 4vh;
    }
  }

  @media screen and (max-width: 370px) {
    .textCage {
      font-size: 3vh;
    }
  }
}

h1 {
  color: $white;
}

h2 {
  font-weight: bolder;
}

button {
  font-weight: bold;
}

input {
  font-weight: bold;
}

/*-----------------------------------CAFETERIA/PLANTAS---------------------------------*/

.cageH2 {
  padding-top: 30px;
}

.cageStyle {
  margin-bottom: 40px;
  margin-top: 40px;
}

.borderStyle {
  border: solid #ffff;
  display: flex;
  align-items: center;
  .styleImage {
    width: 70%;
    height: 70%;
  }
  .styleImage:hover {
    transform: scale(1.01, 1.01);
  }
}

/*------------------------------------NOSOTROS----------------------------------------*/
.backgroundStyle {
  height: 54rem;
}

.textCage2 {
  height: 54rem;
  width: 100%;
  padding-top: 7vh;
  padding-bottom: 4vh;
  color: #000000;
  font-size: 3vh;
  font-family: "Roboto", sans-serif;
}

/*------------------------------- EXTRAS MEDIA QUERY-----------------------------------*/

@media screen and (max-width: 470px) {
  h5 {
    font-size: 95%;
  }
}

@media screen and (max-width: 783px) {
  .textCage2 {
    font-size: 2vh;
  }
}
